version: '3.8'

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6380:6379"

  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  django:
    build: .
    container_name: django_app
    command: >
      sh -c "
        python django_app/wait_for_db.py && 
        python django_app/manage.py makemigrations && 
        python django_app/manage.py migrate && 
        python django_app/manage.py shell -c \"from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.filter(username='${DJANGO_SUPERUSER_USERNAME}').exists() or User.objects.create_superuser('${DJANGO_SUPERUSER_USERNAME}', '${DJANGO_SUPERUSER_EMAIL}', '${DJANGO_SUPERUSER_PASSWORD}')\" && 
        gunicorn django_app/django_app.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      DJANGO_SUPERUSER_USERNAME: ${DJANGO_SUPERUSER_USERNAME}
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      DJANGO_SUPERUSER_EMAIL: ${DJANGO_SUPERUSER_EMAIL}
      PYTHONPATH: /app

  worker:
    build: .
    volumes:
      - .:/app
      - /etc/localtime:/etc/localtime:ro
    container_name: celery_worker
    restart: always
    depends_on:
      - redis
    command: ["celery", "-A", "celery_app.celery_config", "worker", "--loglevel=info"]

  beat:
    build: .
    volumes:
      - .:/app
      - /etc/localtime:/etc/localtime:ro
    container_name: celery_beat
    restart: always
    depends_on:
      - redis
    command: ["celery", "-A", "celery_app.celery_config", "beat", "--loglevel=info"]

volumes:
  pgdata:
